@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Spartan:wght@500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.nav{
	background-color: #232020;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 16px 0;
}
.nav a{
	padding: 16px 24px;
	text-decoration: none;
	color: #F4F4F4;
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
}
.nav a:hover{
	background-color: #F4F4F4;
	color: #232020;
	transition: 0.5s;
}

/*about section*/
.about{
	background-image: url(bg.jpg);
	background-size: cover;
	height: 600px;
	margin-top: 40px;
}
.about .half{
	width: 40%;
	float: left;
	padding: 60px 66px;
	margin-top: 135px;
}
.about .half h2{
	color: #F4F4F4;
	font-family: 'Spartan', sans-serif;
	font-weight: bolder;
	font-size: 2em;
	border-left: 10px solid #FEBA4D;
	padding-left: 5px;
}
.about .half p{
	color: #F4F4F4;
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px;
	font-size: 1.2em;
	line-height: 1.2;
	margin-top: 5px;
}
.about .half img{
	width: 80%;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.about .half h3{
	color: #E4EDDB;
	font-family: 'Spartan', sans-serif;
	font-weight: bolder;
	font-size: 1.7em;
	border-left: 10px solid #FEBA4D;
	padding-left: 5px;
	margin-top: 5px;
}
.about .half h5{
	color: #E4EDDB;
	font-family: 'Spartan', sans-serif;
	font-size: 1.3em;
	margin-top: 5px;
	padding-left: 15px;
}

/*faculty section*/
.faculty{
	background-color: #232020;
	height: 425px;
}
.half{
	width: 40%;
	float: left;
	padding: 60px 66px;
}
.half h2{
	color: #F4F4F4;
	font-family: 'Spartan', sans-serif;
	font-weight: bolder;
	font-size: 2em;
	border-left: 10px solid #FEBA4D;
	padding-left: 5px;
}
.half p{
	color: #F4F4F4;
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px;
	font-size: 1.2em;
	line-height: 1.2;
	margin-top: 5px;
}
.row{
	width: 30%;
	padding: 15px;
	margin: 0 10px;
	float: left;
}
.card{
	background-color: #3A3535;
	margin: 10px;
	float: left;
	width: 90%;
	padding: 20px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.card h2{
	font-size: 12px;
	border: 0;
	padding: 5px;
}
.card h4{
	color: #F4F4F4;
	font-size: 9.5px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	padding: 2px;
}
.card a{
	text-decoration: none;
}
.card h2:hover{
	color: #FEBA4D;
	transition: 0.3s;
}
.half a{
	text-decoration: none;
	color: #F4F4F4;
}
.half a:hover{
	color: #FEBA4D;
	transition: 0.3s;
}

/*academic section*/
.academic{
	background-color: #232020;
	height: 345px;
}
.academic button{
	background-color: #232020;
	color: #F4F4F4;
	padding: 6px 10px;
	border: 2px solid #F4F4F4;
	border-radius: 5px;
}
#downaca{
	text-align: center;
}
.academic button:hover{
	background-color: #FEBA4D;
	border: 2px solid #FEBA4D;
	color: #232020;
}

/*syllabus*/
.syllabus{
	background-color: #232020;
	height: 390px;
}
#syl{
	background-color: #232020;
	color: #F4F4F4;
	padding: 6px 10px;
	border: 2px solid #F4F4F4;
	border-radius: 5px;
	font-size: 1em;
	margin-top: 10px;
}
#syl:hover{
	background-color: #FEBA4D;
	border: 2px solid #FEBA4D;
	color: #232020;
}
#despar{
	text-align: center;
}
#des{
	margin-top: 80px;
}

/*footer*/
.footer{
	background-color: #232020;
	height: 385px;
}
.footer img{
	width: 70%;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.footer h3{
	color: #F4F4F4;
	font-family: 'Spartan', sans-serif;
	font-weight: bolder;
	font-size: 1.5em;
	border-left: 10px solid #FEBA4D;
	padding-left: 5px;
	margin-bottom: 10px;
}

.links a{
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px;
	margin-left: 10px;
}
